@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
.btn {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 46px;
  background: linear-gradient(94.84deg, #ffbf1c 18.14%, #ffb800 75.37%);
  box-shadow: 0px 7px 30px rgba(255, 201, 61, 0.35);
  border-radius: 100px;
}
@media (max-width: 426px) {
  .btn {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    padding: 7px 25px;
  }
}
.btn_white {
  border: 2px solid #ffbf1c;
  box-sizing: border-box;
  filter: drop-shadow(0px 7px 27px rgba(255, 201, 61, 0.45));
  border-radius: 100px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 46px;
  color: #ffbf1c;
}
@media (max-width: 426px) {
  .btn_white {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    padding: 7px 25px;
  }
}
.btn_form {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 46px;
  background: linear-gradient(94.84deg, #ffbf1c 18.14%, #ffb800 75.37%);
  box-shadow: 0px 7px 30px rgba(255, 201, 61, 0.35);
  border-radius: 100px;
  min-width: 277px;
}

/* Обнуляющий стиль */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: "Montserrat";
  color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  appearance: none;
}

.header {
  background: url("../img/homepage/header/bg.png") center/cover no-repeat;
  position: relative;
  color: #fff;
}
@media (min-width: 1190px) {
  .header {
    min-height: 100vh;
  }
}
.header__social {
  position: absolute;
  top: 50%;
  left: 2%;
}
.header__items {
  margin: 27px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
.burger-active span {
  position: absolute;
  transform: rotate(45deg);
  transition: 0.3s;
}
.burger-active span:first-child {
  transform: rotate(-45deg);
  top: 50% !important;
  transition: 0.3s;
}
.burger-active span:last-child {
  display: none;
}

.color-active {
  opacity: 1 !important;
  transition: 0.3s;
}

.menu-active {
  opacity: 1 !important;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .social-header {
    display: none;
  }
}
.social-header__items {
  display: flex;
  flex-direction: column;
}
.social-header__items *:last-child {
  margin-bottom: 0px;
}
.social-header__item {
  margin-bottom: 10px;
}

.menu__list {
  display: flex;
  justify-content: center;
  text-align: center;
}
.menu__link {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin: 0px 18px;
}
.menu__link:hover {
  text-shadow: -0.0375em 0 0 #fff;
  position: relative;
}
.menu__link:hover::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2px;
}
@media (max-width: 992px) {
  .menu__link {
    margin: 0px 10px;
  }
}

.phone__link {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  position: relative;
}
.phone__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  background: url("../img/icons/header/call.svg");
  width: 19px;
  height: 19px;
}
@media (max-width: 992px) {
  .phone__link {
    display: none;
  }
}
.phone__link_hidden img {
  width: 30px;
}
@media (min-width: 992px) {
  .phone__link_hidden img {
    display: none;
  }
}
.phone__link_open {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  margin: 0px 0px 0px 25px;
}
.phone__link_open::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  background: url("../img/icons/header/call.svg");
  width: 19px;
  height: 19px;
}
@media (min-width: 768px) {
  .phone__link_open {
    display: none;
  }
}

.description {
  padding: 160px 0px 220px 0px;
}
.description *:last-child {
  margin-bottom: 0;
}
@media (min-width: 1190px) {
  .description {
    padding: 20% 0px 100px 0px;
  }
}
@media (max-width: 426px) {
  .description {
    padding: 50% 0px 40% 0px;
  }
}
.description__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 45px;
  margin: 0px 0px 28px 0px;
  text-align: center;
}
@media (max-width: 992px) {
  .description__title {
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
  }
}
@media (max-width: 426px) {
  .description__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 23px;
    margin: 0px 0px 16px 0px;
  }
}
.description__text {
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  margin: 0px 0px 45px 0px;
  text-align: center;
}
@media (max-width: 992px) {
  .description__text {
    font-weight: 300;
    font-size: 23px;
    line-height: 34px;
  }
}
@media (max-width: 426px) {
  .description__text {
    font-weight: 300;
    font-size: 10px;
    line-height: 13px;
    margin: 0px 0px 16px 0px;
  }
}
.description__button {
  margin: 0px 0px 30px 0px;
}

.background-header__burger {
  position: absolute;
  z-index: 3;
}
.background-header__menu {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 60px;
  opacity: 0;
  transition: 0.3s;
}
.background-header__color {
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-color: rgba(22, 18, 45, 0.84);
}

.burger-background {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.burger-background__body {
  margin: 35px 0px 0px 0px;
}
.burger-background__item {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
}
.burger-background__item span {
  position: absolute;
  top: 50%;
  margin: -1px 0px 0px 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.burger-background__item span:first-child {
  top: 0;
}
.burger-background__item span:last-child {
  top: auto;
  bottom: 0;
  margin: 0;
}
@media (min-width: 769px) {
  .burger-background__item {
    display: none;
  }
}

.menu-background__body {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.menu-background__list *:last-child {
  margin-bottom: 0;
}
.menu-background__list *:first-child {
  margin-top: 30px;
}
.menu-background__list li {
  margin: 0px 0px 15px 0px;
}
.menu-background__link {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
.menu-background__link:hover {
  text-shadow: -0.0375em 0 0 #fff;
  position: relative;
}
.menu-background__link:hover::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2px;
}

.footer {
  background-color: #e9e9e9;
}
.footer__items {
  margin: 53px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .footer__items {
    margin: 20px 0px;
  }
}
@media (max-width: 768px) {
  .footer__items {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 25px 0px;
  }
}
@media (max-width: 426px) {
  .footer__items {
    margin: 12px 0px;
  }
}
@media (max-width: 768px) {
  .footer__item {
    order: 1;
  }
}
.footer__item_center {
  flex: 0 0 50%;
}
@media (max-width: 768px) {
  .footer__item_center {
    order: 2;
  }
}
@media (max-width: 768px) {
  .footer__logo {
    margin: 0px 0px 25px 0px;
  }
}
@media (max-width: 426px) {
  .footer__logo {
    margin: 0px 0px 15px 0px;
  }
}
@media (max-width: 992px) {
  .footer__logo_black img {
    max-width: 160px;
  }
}
@media (max-width: 768px) {
  .footer__logo_black {
    order: 2;
  }
}
@media (max-width: 426px) {
  .footer__logo_black img {
    max-width: 90px;
  }
}
@media (max-width: 768px) {
  .footer__social {
    margin: 0px 0px 40px 0px;
  }
}

.menu-footer__body {
  display: flex;
}
.menu-footer__body *:last-child {
  margin: 0px 0px 0px 0px;
}
@media (max-width: 992px) {
  .menu-footer__body {
    flex-direction: column;
  }
}
.menu-footer__column {
  margin: 0px 50px 0px 0px;
}
@media (max-width: 1190px) {
  .menu-footer__column {
    margin: 0px 40px 0px 0px;
  }
}
@media (max-width: 992px) {
  .menu-footer__column {
    margin: 0px 0px 10px 0px;
  }
}
.menu-footer__title {
  color: #6f6f6f;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1190px) {
  .menu-footer__title {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .menu-footer__title {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 426px) {
  .menu-footer__title {
    font-size: 8px;
    line-height: 9px;
  }
}

.social-footer__items *:last-child {
  margin: 0px 0px 0px 0px;
}
.social-footer__item {
  margin: 0px 15px 0px 0px;
}
@media (max-width: 992px) {
  .social-footer__item img {
    max-width: 30px;
  }
}
@media (max-width: 426px) {
  .social-footer__item {
    margin: 0px 9px 0px 0px;
  }
  .social-footer__item img {
    max-width: 21px;
  }
}

.offers__items {
  display: flex;
  margin: 80px 0px;
}
@media (max-width: 992px) {
  .offers__items {
    margin: 30px 0px;
  }
}
@media (max-width: 768px) {
  .offers__items {
    flex-wrap: wrap;
  }
}
.offers__item {
  flex: 0 0 50%;
}
@media (max-width: 992px) {
  .offers__item {
    flex: none;
  }
}
@media (max-width: 768px) {
  .offers__item {
    flex: 0 0 100%;
  }
}

.offer {
  position: relative;
}
@media (max-width: 992px) {
  .offer {
    flex: 1 1 55%;
  }
}
@media (max-width: 768px) {
  .offer {
    flex: 0 0 100%;
    order: 1;
  }
}
.offer__body {
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  .offer__body {
    width: 100%;
    margin: 0px 0px 16px 0px;
  }
}
.offer__link {
  position: relative;
}
.offer__link img {
  width: 100%;
}
.offer__items {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 23px 40px;
}
@media (max-width: 1190px) {
  .offer__items {
    padding: 23px 20px;
  }
}
@media (max-width: 768px) {
  .offer__items {
    padding: 10px 17px;
  }
}
.offer__item {
  display: flex;
  flex: 1 1 auto;
}
.offer__date {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 426px) {
  .offer__date {
    font-size: 21px;
    line-height: 19px;
  }
}
.offer__bottom {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.offer__name {
  flex: 0 1 70%;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
}
@media (max-width: 1190px) {
  .offer__name {
    font-size: 21px;
  }
}
@media (max-width: 992px) {
  .offer__name {
    font-size: 19px;
    line-height: 23px;
  }
}
@media (max-width: 426px) {
  .offer__name {
    font-size: 16px;
    line-height: 19px;
  }
}
.offer__price {
  flex: 1 0 30%;
  text-align: right;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 1190px) {
  .offer__price {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 992px) {
  .offer__price {
    font-size: 19px;
    line-height: 19px;
  }
}
@media (max-width: 426px) {
  .offer__price {
    font-size: 16px;
    line-height: 19px;
  }
}

@media (max-width: 992px) {
  .other {
    flex: 1 1 45%;
  }
}
@media (max-width: 768px) {
  .other {
    order: 3;
  }
}
.other__items {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0px 0px 0px 70px;
}
.other__items *:last-child {
  margin-bottom: 0px;
}
@media (max-width: 992px) {
  .other__items {
    margin: 0px 0px 0px 20px;
  }
}
@media (max-width: 768px) {
  .other__items {
    margin: 0;
  }
}
.other__title {
  color: #000;
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  margin: 0px 0px 28px 0px;
}
@media (max-width: 1190px) {
  .other__title {
    font-size: 34px;
    line-height: 34px;
    margin: 0px 0px 18px 0px;
  }
}
@media (max-width: 992px) {
  .other__title {
    font-size: 21px;
    line-height: 23px;
    margin: 0px 0px 10px 0px;
  }
}
@media (max-width: 768px) {
  .other__title {
    margin: 0px 0px 20px 0px;
  }
}
.other__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin: 0px 0px 45px 0px;
}
@media (max-width: 1190px) {
  .other__text {
    font-size: 18px;
    line-height: 23px;
    margin: 0px 0px 35px 0px;
  }
}
@media (max-width: 992px) {
  .other__text {
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 768px) {
  .other__text {
    margin: 0px 0px 16px 0px;
  }
}
.other__button {
  margin: 0px 0px 20px 0px;
}

.feedback {
  background: url("../img/homepage/feedback/bg.png") center/cover no-repeat;
}
@media (max-width: 768px) {
  .feedback {
    background: url("../img/homepage/feedback/bg.png") -190px 0/auto 100% no-repeat;
  }
}
@media (max-width: 698px) {
  .feedback {
    background: url("../img/homepage/feedback/bg.png") -350px 0/auto 100% no-repeat;
  }
}
@media (max-width: 426px) {
  .feedback {
    background: url("../img/homepage/feedback/bg.png") -250px 0/auto 100% no-repeat;
  }
}
.feedback__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 992px) {
  .feedback__items {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .feedback__items {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.feedback__item {
  margin: 110px 0px;
}
@media (max-width: 768px) {
  .feedback__item {
    margin: 40px 0px 87px 0px;
  }
}
@media (max-width: 426px) {
  .feedback__item {
    margin: 40px 0px 40px 0px;
  }
  .feedback__item:last-child {
    margin: 0px 0px 80px 0px;
  }
}
.feedback__info {
  max-width: 350px;
  margin: 0px 60px 0px 0px;
}
@media (max-width: 768px) {
  .feedback__info {
    margin: 0px 0px 0px 0px;
  }
}
.feedback__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  margin: 0px 0px 28px 0px;
}
@media (max-width: 426px) {
  .feedback__title {
    font-size: 22px;
    line-height: 21px;
    text-align: center;
  }
}
.feedback__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 426px) {
  .feedback__text {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
  }
}
.input {
  padding: 20px 22px;
  border-radius: 100px;
  min-width: 277px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0px 0px 20px 0px;
}

.review__items {
  display: flex;
  margin: 80px 0px;
}
@media (max-width: 992px) {
  .review__items {
    margin: 30px 0px;
  }
}
@media (max-width: 768px) {
  .review__items {
    flex-wrap: wrap;
  }
}
.review__item {
  flex: 0 0 50%;
}
@media (max-width: 768px) {
  .review__item {
    flex: 0 0 100%;
  }
}

.other-review {
  margin: 0px 70px 0px 0px;
}
@media (max-width: 992px) {
  .other-review {
    margin: 0px 15px 0px 0px;
  }
}

.offer__title {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
}
@media (max-width: 992px) {
  .offer__title {
    font-size: 18px;
    line-height: 19px;
  }
}
.offer__storyteller {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
@media (max-width: 992px) {
  .offer__storyteller {
    font-size: 19px;
    line-height: 19px;
  }
}
.offer__text {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
@media (max-width: 426px) {
  .offer__text {
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
  }
}

/* ------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* -------------- */
._container {
  max-width: 1170px;
  margin: 0px auto;
}
@media (max-width: 1190px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0px 36px;
  }
}