.btn-card {
	font-family: "Roboto";
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	padding: 9px 21px;
	border-radius: 4px;
	background-color: $mainColor;
	/*---Mobile---*/
	@media (max-width: 450px) {
		font-size: 18px;
		line-height: 21px;
	}
}
.btn-card_big {
	font-family: "Roboto";
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	padding: 21px 92px;
	border-radius: 4px;
	background-color: $mainColor;
}

.btn-slider {
	font-family: "Roboto";
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	padding: 21px 60px;
	border-radius: 4px;
	border-color: #fff;
	border: 0.779167px solid #eff5ff;
	box-shadow: 0px 0px 9.35px #eff5ff;
}

.title {
	font-family: "Roboto";
	font-size: 26px;
	line-height: 30px;
	font-weight: 700;
	color: $mainColor;
	/*---Mobile---*/
	@media (max-width: 450px) {
		font-size: 23px;
		line-height: 26px;
		font-weight: 900;
	}
}

.title-card {
	font-family: "Roboto";
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	color: $mainColor;
}

.title-card_active {
	font-weight: 700;
}

.title-banner {
	font-family: "Roboto";
	font-size: 28px;
	line-height: 32px;
	font-weight: 400;
	color: $mainColor;
	/*---Mobile---*/
	@media (max-width: 450px) {
		font-size: 14px;
		line-height: 16px;
	}
}

.name {
	font-family: "Roboto";
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	color: #050023;
	/*---Mobile---*/
	@media (max-width: 450px) {
		font-size: 16px;
		line-height: 19px;
	}
}
