.categories-main {
	// .categories-main__container
	&__container {
	}
	// .categories-main__body
	&__body {
	}
	// .categories-main__title
	&__title {
	}
	// .categories-main__items
	&__items {
		display: flex;
		@media (max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	// .categories-main__column
	&__column {
		flex: 0 1 50%;
		@media (max-width: 768px) {
			flex: 1 0 100%;
		}
	}
	// .categories-main__row
	&__row {
	}
	// .categories-main__name
	&__name {
		background-color: rgba(255, 255, 255, 0.63);
		height: 100%;
		padding: 5px 50px;
		font-weight: 400;
		font-size: 36px;
		line-height: 42px;
		color: #050023;
	}
	// .categories-main__item
	&__item {
		border-radius: 5px;
		display: flex;
		// .categories-main__item_1
		&_1 {
			min-height: 200px;
			background: url("/img/homepage/page/categories/category-1.png") center / cover no-repeat;
			margin: 0px 10px 20px 0px;
			@media (max-width: 768px) {
				margin: 0px 0px 20px 0px;
			}
		}
		// .categories-main__item_2
		&_2 {
			min-height: 375px;
			background: url("/img/homepage/page/categories/category-2.png") center / cover no-repeat;
			margin: 20px 10px 0px 0px;
			@media (max-width: 768px) {
				margin: 0px 0px 20px 0px;
				min-height: 200px;
			}
		}
		// .categories-main__item_3
		&_3 {
			min-height: 375px;
			background: url("/img/homepage/page/categories/category-3.png") center / cover no-repeat;
			margin: 0px 0px 20px 10px;
			@media (max-width: 768px) {
				margin: 0px 0px 20px 0px;
				min-height: 200px;
			}
		}
		// .categories-main__item_4
		&_4 {
			min-height: 200px;
			background: url("/img/homepage/page/categories/category-4.png") center / cover no-repeat;
			margin: 20px 0px 0px 10px;
			@media (max-width: 768px) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}
