.footer {
	// .footer__wrapper
	&__wrapper {
		background-color: #050023;
		padding: 50px 0px;
		@media (max-width: 992px) {
			padding: 30px 0px;
		}
	}
	// .footer__container
	&__container {
	}
	// .footer__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 992px) {
			align-items: flex-start;
		}
		@media (max-width: 625px) {
			flex-direction: column;
			align-items: center;
		}
	}
	// .footer__main
	&__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 0px 80px 0px 0px;
		@media (max-width: 992px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		@media (max-width: 625px) {
			align-items: center;
			justify-content: center;
			margin: 0px 0px 40px 0px;
		}
	}
	// .footer__logo
	&__logo {
		img {
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		@media (max-width: 992px) {
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 625px) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .footer__menu
	&__menu {
		display: flex;
		align-items: center;
		margin: 0px 40px;
		@media (max-width: 992px) {
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 625px) {
			margin: 0px 0px 30px 0px;
			width: 100%;
		}
	}
	// .footer__phone
	&__phone a {
		color: #fff;
		font-weight: 900;
		font-size: 20px;
		line-height: 23px;
		@media (max-width: 625px) {
			font-size: 16px;
			line-height: 19px;
		}
	}
	// .footer__num
	&__num {
	}
	// .footer__social
	&__social {
	}
}
.menu-footer {
	*:last-child {
		margin: 0px 0px 0px 0px;
	}
	@media (max-width: 625px) {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	// .menu-footer__item
	&__item {
		margin: 0px 40px 0px 0px;
		@media (max-width: 625px) {
			margin: 0px 10px 0px 0px;
		}
	}
	// .menu-footer_link
	&_link {
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		&:hover {
			text-shadow: 1px 1px 10px rgb(255, 255, 255, 0.7);
		}
		@media (max-width: 625px) {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
.social {
	// .social__body
	&__body {
		display: flex;
		*:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	// .social__item
	&__item {
		margin: 0px 10px 0px 0px;
	}
	// .social__link
	&__link img {
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}
